{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

{#1. Page Title------------------------------------------------------------#}
    {% block page_title %}Title{% endblock %}
{#-------------------------------------------------------------------------#}
    </title>

{#Styles-------------------------------------------------------------------#}
    <link rel="stylesheet" href="{% static 'reset.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">

{#Additional css--------------------------------------------------------- #}
    {% block extra_css %}{% endblock %}

{#Additional js---------------------------------------------------------- #}
    {% block extra_js %}{% endblock %}
</head>

<body>
    <header class="header">

{#2. Nav-------------------------------------------------------------------#}
    {% block nav %}
        <nav class="navigation">
            <ul class="nav-list" role="list">
                <li class="nav-item">
                    <a href="{% url 'main app index' %}">Index</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'main app add' %}">Add</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'main app list' %}">List</a>
                </li>
            </ul>
        </nav>
    {% endblock %}
{#-------------------------------------------------------------------------#}

{#3. Page Name-------------------------------------------------------------#}
    {% block page_name %}
        <h1 class="page-title">Base Page to be used as a template</h1>
    {% endblock %}
{#-------------------------------------------------------------------------#}
	</header>

	<main>
{#4. Main Content----------------------------------------------------------#}
    {% block main_content %}
        <p>Base Page to be used as a template</p>
    {% endblock %}
	</main>

    <footer class="footer">
        <h3 class="footer-title">&copy; 2023 DZ</h3>
    </footer>
</body>
</html>
